- name: Update and upgrade apt packages
  ansible.builtin.apt:
    update_cache: true
    name: '*'
    state: latest
    only_upgrade: true

- name: Install required packages
  ansible.builtin.apt:
    name:
      - gpg
      - ca-certificates
      - curl
      - socat
      - conntrack
      - ipset
      - kmod
    state: present
